Source: monitoring-common-shell-library
Section: net
Priority: optional
Maintainer: Andreas Unterkircher <unki@netshadow.net>
Build-Depends: debhelper (>= 9),
   coreutils,
   util-linux,
   bc,
   shellcheck (>= 0.4.6~),
   shell-docs-generator,
Standards-Version: 3.9.8
Homepage: https://netshadow.org/monitoring-plugins/monitoring-common-shell-library
Vcs-Git: https://netshadow.org/monitoring-plugins/monitoring-common-shell-library.git
Vcs-Browser: https://netshadow.org/monitoring-plugins/monitoring-common-shell-library

Package: monitoring-common-shell-library
Architecture: all
Depends: ${misc:Depends}, coreutils, util-linux, bc
Description: a library of commonly used shell functions.
 a library of commonly used shell functions.
